.tableView {
  td.currentRow {
    background-color: #d1d1d1!important;
  }
  .currentCol {
    background-color: #d1d1d1!important;
  }
  tr:nth-child(odd) td {
    background-color: #fff;
  }
  tr:nth-child(even) td {
    background-color: #eee; 
  }
  .img-cell {
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
  }
  /*override default read-only style*/
  .htDimmed {
    color: #000;
  }
}
